.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*.class
/bin/
*.gitignore

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
bin/templates/auth/
out/
src/main/resources/templates/auth/
src/test/resources/
.gradle/
.idea/
.settings/
bin/com/Aleksandr/Cake/.gradle/
src/main/java/com/Aleksandr/Cake/.gradle/
/classes/
/gradle/
/logs/
