body {
	background-color: #cccccc;
	font-family: arial, helvetica, sans-serif;
}

.bookHeadline {
	font-size: 12pt;
	font-weight: bold;
}

.bookDescription {
	font-size: 10pt;
}

label {
	font-weight: bold;
}
/*  ------------------------  home  ------------------------ */
.admin-message-text {
	font-style: normal;
	font-size: 22px;
	color: #004080;
}
/* ------------------------ registration  ------------------------ */
.validation-message {
	font-style: normal;
	font-size: 12px;
	color: #FF1C19;
}
/*  ------------------------  login   ------------------------ */
.wrapper {
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
	max-width: 420px;
	padding: 30px 38px 66px;
	margin: 0 auto;
	background-color: #eee;
	border: 3px dotted rgba(0, 0, 0, 0.1);
}

.form-signin-heading {
	text-align: center;
	margin-bottom: 30px;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
}

input[type="text"] {
	margin-bottom: 0px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

input[type="password"] {
	margin-bottom: 20px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
/*  ------------------------  navigation top menu   ------------------------ */
.top_menu {
	height: 102px;
	margin-left: 30px;
	display: flex;
    width: 100%;
}
.top_menu_left {
	width: 90px;
	height: 100%;
	background-image:url("../images/nav_left.png");
	background-size: 100% 100%;
}
.top_menu_center {
	background-image:url("../images/nav.png");
	background-size: 100% 100%;
	height: 81px;
	padding-right: 20px;
}
.top_menu_center a {
    padding: 20px;
	padding-top: 30px;
    float: right;
    color: white;
    font-family: cursive;
    font-weight: bold;
    text-decoration: none;
}
.top_menu_center a:hover {
    color: blue;
    text-decoration: none;
}
.top_menu_right {
	width: 90px;
	height: 100%;
	background-image:url("../images/nav_right.png");
	background-size: 100% 100%;
}

/*--------------------------- language_flag -----------------------------*/
.language_flag{
    width: 300px;
    height: 90px;
    display: flex;
}
.language_flag a{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.flag_en{
    display: block;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background-image: url("../images/us_footer.png");
    background-size: 100% 100%;
}
.flag_en:hover{
    background-image: url("../images/us_top.png");
    background-size: 100% 100%;
    border-radius: 100%;
}
.flag_ua{
    display: block;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background-image: url("../images/ua_footer.png");
    background-size: 100% 100%;
}

.flag_ua:hover{
    background-image: url("../images/ua_top.png");
    background-size: 100% 100%;
    border-radius: 100%;
}
.flag_ru{
    display: block;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background-image: url("../images/ru_footer.png");
    background-size: 100% 100%;
}
.flag_ru:hover{
    background-image: url("../images/ru_top.png");
    background-size: 100% 100%;
    border-radius: 100%;
}
/*--------------------------- footer -----------------------------*/

.footer {
    display: inline;
    width: 100%;
    height: 10%;
}
/*  ------------------------  calendar   ------------------------ */
.calendar_order table{
	background-color: #cccccc;
	width: 1190px;
	margin: 10px;
}
.calendar_order table td {
	background: #fff;
	text-align: right;
	width: 150px;
	height: 200px;
	padding: 10px;
	margin-right: 10px;
	border: 1px solid black;

}
.calendar_order table :hover {
	background: #ccc;

}
.calendar_order table tr {
	float: right;
}

.add_active_for_calendar{
	text-align: center;
}