<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<!-- HEADER -->
<head th:lang="${lang}">
<title th:text="#{label.Calendar}"></title>
<!--/*/ <th:block th:include="include/headerinc :: head"></th:block> /*/-->
</head>

<body>
	<!--/*/ <th:block th:include="include/header :: header"></th:block> /*/-->

	<p th:text="#{label.Calendar}+${thisMonth}+${thisYear} ">Calendar</p>
	<div>
		<table>
			<tr th:each="schedule : ${schedules}">
				<td th:text="${schedule.id}">1</td>
				<td><a href="#" th:text="${schedule.title}">Title</a></td>
				<td th:text="${schedule.description}">Text</td>
				<td th:text="${schedule.date_order}">Text</td>

				<td th:text="${isUser}">Text</td>
			</tr>
		</table>
		<div></div>
	</div>

	<div class="calendar_order">
		<div>
			<a th:href="${'/calendar/month=' + previous}" th:text="previous">previous</a>
		</div>
		<div>
			<a th:href="${'/calendar/month=' + next}" th:text="next">next</a>
		</div>

		<table>
			<tr th:each="name : ${nameWeek}">
				<td th:text="${name}" />
			</tr>

			<tr th:each="week : ${weeks}">

				<td th:each="day : ${allMonth.get(week)}">
				<a th:href="${'/calendar/informationByDay='} + ${day.key}" th:text="${day.key}"></a>
					<div th:each="list : ${day.value}">
						<p th:text="${list.getDate_order()}" />
					</div></td>
			</tr>
		</table>
	</div>
	
	<div th:fragment="form" xmlns:th="http://www.w3.org/1999/xhtml">
		<div th:if="${isUser}">
			<div lang="en" th:include="include/authorization :: user"></div>
		</div>
		<div th:unless="${isUser}">
			<div lang="en" th:include="include/authorization :: registration"></div>
		</div>
	</div>

	<!-- th:value="${#dates.format(schedule.date_order,'MM/dd/yyyy HH:mm')}"  -->


	<form class="add_active_for_calendar" action="/calendar"
		th:action="@{/calendar}" th:object="${schedule}" method="post">
		<p>
			Title: <input type="text" name="title">
		</p>
		<!-- <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Name Error</p>  -->
		<p>
			Description: <input type="text" name="description">
		</p>
		<p>
			Name: <input type="text" name="name">
		</p>
		<p>
			Phone: <input type="text" name="phone">
		</p>
		<p>
			Date: <input type="date" name="date_order">
		</p>
		<input type="hidden" name="active" value="0"> <input
			type="submit">
	</form>

	<div lang="en" th:include="include/footer :: footer"></div>