<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<!-- HEADER -->
<head th:lang="${lang}">
<title th:text="#{label.Calendar}"></title>
<!--/*/ <th:block th:include="include/headerinc :: head"></th:block> /*/-->
</head>

<body>
	<!--/*/ <th:block th:include="include/header :: header"></th:block> /*/-->

	<p th:if="${thisMonth} != null" th:text="#{label.Calendar}+${thisMonth}+${thisYear} ">Calendar</p>
	
	<div>
		<table>
			<tr th:each="schedule : ${schedules}">
				<td th:text="${schedule.id}">1</td>
				<td><a href="#" th:text="${schedule.getTitle()}">Title</a></td>
				<td th:text="${schedule.description}">Text</td>
				<td th:text="${schedule.dateOrder}">Text</td>

				<td th:text="${isUser}">Text</td>
			</tr>
		</table>
	</div>

	<div class="calendar_order">
		<div>
			<a th:href="${'/calendar/month=' + previous}" th:text="previous">previous</a>
		</div>
		<div>
			<a th:href="${'/calendar/month=' + next}" th:text="next">next</a>
		</div>

		<table>
			<tr th:each="name : ${nameWeek}">
				<td th:text="${name}" />
			</tr>

			<tr th:each="week : ${weeks}">

				<td th:each="day : ${allMonth.get(week)}">
				<!--work <a th:href="@{'/calendar?month={month}'(month=${thisMonth}, day=${day.key})}" th:text="${day.key}"></a> -->
				<a th:href="@{'/calendar/month={month}/day={day}'(month=${thisMonth}, day=${day.key})}" th:text="${day.key}"></a> 
<!-- 				<a th:href="${'/calendar?month={month}&informationByDay={day}'(month=${thisMonth},day=${day.key})}" th:text="${day.key}"></a> -->
					<div th:each="list : ${day.value}">
						<p th:text="${list.getDateOrder()}" />
					</div>
				</td>
			</tr>
		</table>
	</div>


	<div th:if="${!thisDay.isEmpty()}">
			<table>
			<tr th:each="list : ${thisDay}">
				<td th:text="${list.getId()}">1</td>
				<td><a href="#" th:text="${list.title}">Title</a></td>
				<td th:text="${list.description}">Text</td>
				<td th:text="${list.dateOrder}">Text</td>

				<td th:text="${isUser}">Text</td>
			</tr>
		</table>
	</div>

	<form class="add_active_for_calendar" action="/calendar"
		th:action="@{/calendar}" th:object="${schedule}" method="post">
		<p>
			Title: <input type="text" name="title">
		</p>
		<!-- <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Name Error</p>  -->
		<p>
			Description: <input type="text" name="description">
		</p>
		<p>
			Name: <input type="text" name="name">
		</p>
		<p>
			Phone: <input type="text" name="phone">
		</p>
		<p>
			Date: <input type="date" name="dateOrder">
		</p>
		<input type="hidden" name="active" value="0"> <input
			type="submit">
	</form>

	<div lang="en" th:include="include/footer :: footer"></div>