<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <title th:text="#{label.title}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
</head>
<body>
<p>Cake</p>
<div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
    <a href="/calendar?lang=en" th:text="#{label.LanguageEN}"></a>
    <a href="/calendar?lang=ua" th:text="#{label.LanguageUA}"></a>
</div>
<div>
    <div lang="en" th:include="include/login :: form"></div>
</div>

<div class="top_menu">
    <a href="#" alt="General" th:text="#{label.General}" ></a>
    <a href="#" alt="Our products" th:text="#{label.Our_products}"></a>
    <a href="#" alt="Feedback" th:text="#{label.Feedback}"></a>
    <a href="#" alt="Contact" th:text="#{label.Contact}"></a>
    <a href="#" alt="Delivery" th:text="#{label.Delivery}"></a>
    <a href="#" alt="Ingredients" th:text="#{label.Ingredients}"></a>
    <a href="/calendar" alt="Calendar" th:text="#{label.Calendar}"></a>
</div>
<p>calendar test for git</p>
<div lang="en" th:include="include/footer :: footer"></div>
</body>
</html>