<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<!-- HEADER -->
<head th:lang="${lang}">
    <title th:text="#{label.title.error}"></title>
    <!--/*/ <th:block th:include="include/headerinc :: head"></th:block> /*/-->
</head>
<!-- /HEADER -->
<!-- MAIN SECTION -->
<body>
<div class="container">

    <!--/*/ <th:block th:include="include/header :: header"></th:block> /*/-->

    <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
    <a href="index.html" th:href="@{/index.html}">Back to Home Page</a>

</div>

</body>
<!-- /MAIN SECTION -->
</html>