<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<!-- HEADER -->
<head th:lang="${lang}">
    <title th:text="#{label.title.ProductForm}"></title>
    <!--/*/ <th:block th:include="include/headerinc :: head"></th:block> /*/-->
    <link href="../../static/css/image-upload.css"
          th:href="@{/css/image-upload.css}" rel="stylesheet" media="screen"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="#{label.title}"></title>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<!--/*/ <th:block th:include="include/header :: header"></th:block> /*/-->
<p>Cake</p>
<div class="language_flag">
    <div class="flag_en"><a href="/index?lang=en" ></a></div>
    <div class="flag_ua"><a href="/index?lang=ua" ></a></div>
    <div class="flag_ru"><a href="/index?lang=ru" ></a></div>
</div>
<div>
    <div lang="en" th:include="include/login :: form"></div>
</div>

<div class="top_menu">
    <div class="top_menu_left"></div>
    <div class="top_menu_center">
        <a href="#" alt="General" th:text="#{label.General}"></a>
        <a href="/products" alt="Our products" th:text="#{label.Our_products}"></a>
        <a href="#" alt="Feedback" th:text="#{label.Feedback}"></a>
        <a href="#" alt="Contact" th:text="#{label.Contact}"></a>
        <a href="#" alt="Delivery" th:text="#{label.Delivery}"></a>
        <a href="#" alt="Ingredients" th:text="#{label.Ingredients}"></a>
        <a href="/calendar" alt="Calendar" th:text="#{label.Calendar}"></a>
    </div>
    <div class="top_menu_right"></div>
</div>

<div lang="en" th:include="include/footer :: footer"></div>
</body>
</html>