<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <title>Reading List</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<p>Cake</p>

<div class="top_menu">
    <a href="#" alt="General">General</a>
    <a href="#" alt="Our products">Our products</a>
    <a href="#" alt="Feedback">Feedback</a>
    <a href="#" alt="Contact">Contact</a>
    <a href="#" alt="Delivery">Delivery</a>
    <a href="#" alt="Ingredients">Ingredients</a>
</div>
</body>
</html>