<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Security Tutorial</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<div th:if="${isUser}">
    <div lang="en" th:include="include/authorization :: user"> </div>
</div>
<div th:unless="${isUser}">
    <div lang="en" th:include="include/authorization :: registration"></div>
</div>
<div lang="en" th:include="include/footer :: footer"></div>
</body>
</html>