<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <title>Title</title>

    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<section>
    <div class="jumbotron">
        <div class="container">
            <h1><a>Cake</a></h1>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-md-12">

				<span style="float:right">
				<a href="?language=en">
                    <img th:src="@{/images/UK.png}"/>
				</a>
				|
				<a href="?language=tr">
                    <img th:src="@{/images/Turkey.png}"/>
					</a>
				|
                        <a th:href="@{/menu/all}">
                        <img th:src="@{/images/icon_home.png}"/>
					</a>
				</span>

            <legend>Order list</legend>
            <!-- IF ordersAmountByCustomerName = NULL -->
            <div th:if="${ordersAmountByCustomerName == null}">
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Order id</th>
                            <th>Order customer name</th>
                            <th>Order price</th>
                        </tr>
                        </thead>

                        <tfoot>
                        <tr>
                            <td></td>
                            <td><span th:text="${ordersTotals}"></span></td>
                        </tr>
                        </tfoot>

                        <tbody>
                        <dl th:each="order : ${allCustomerOrders}">
                            <tr>
                                <td><span th:text="${order.id}"></span></td>
                                <td><span th:text="${order.customer.customerName}"></span></td>
                                <td><span th:text="${order.amount}"></span></td>
                            </tr>
                        </dl>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- ELSE -->
            <div th:unless="${ordersAmountByCustomerName == null}">
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Order customer Name</th>
                            <th>Order price</th>
                        </tr>
                        </thead>

                        <tfoot>
                        <tr>
                            <td>Order total</td>
                            <td><span th:text="${ordersTotals}"></span></td>
                        </tr>

                        <tbody>
                        <dl th:each="order : ${allCustomerOrders}">
                            <tr>
                                <td><span th:text="${order[0]}"></span></td>
                                <td><span th:text="${order[1]}"></span></td>
                            </tr>
                        </dl>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <a th:href="@{/order.list}"
               class="btn btn-default btn-sm">
                <span class="glyphicon-list-alt glyphicon"></span>
            </a>

            <a th:href="@{/order.list(groupBy=customerName)}"
               class="btn btn-default btn-sm">
                <span class="glyphicon-list-alt glyphicon"></span>
            </a>

        </div>
    </div>
</section>
</body>
</html>