<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <title>Title</title>

    <link href="../static/css/style.css"
          th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div id="io-page-wrapper">
    <div id="io-cont-lock"><img th:src="@{/images/payment/lock-blue.png}"/></div>
    <div id="io-cont-logovisa"><img th:src="@{/images/payment/logo-visa.png}"/></div>
    <div id="io-cont-logomastercard"><img th:src="@{/images/payment/logo-mastercard.png}"/></div>
    <div id="io-cont-logoaexpress"><img th:src="@{/images/payment/logo-aexpress.png}"/></div>
    <div class="io-clearbox"></div>
    <p class="io-p-header001">Java Coffee Shop</p>

    <!--<form:form  commandName="paymentFormData"  method="post" action="/order.payment.confirm">-->

        <!--<div id="io-formcont-kartno">-->
            <!--<label><spring:message code='payment.card.holder'/></label>-->
            <!--<form:input id="customerName" path="customerName" type="text" class="io-inputstyle" maxlength="20"/>-->
        <!--</div>-->

        <!--<div class="io-clearbox"></div>-->

        <!--<div id="io-formcont-kartno">-->
            <!--<label><spring:message code='payment.card.number'/></label>-->
            <!--<form:input id="cardNumber" path="cardNumber" type="text" class="io-inputstyle" maxlength="20"/>-->
        <!--</div>-->
        <!--<div id="io-formcont-tarih">-->
            <!--<label><spring:message code='payment.expiry.date'/></label>-->
            <!--<form:select id="io-input-ay" path="month" name="month" type="text" class="io-inputstyle">-->
                <!--<form:option value="01">01</form:option>-->
                <!--<form:option value="02">02</form:option>-->
                <!--<form:option value="03">03</form:option>-->
                <!--<form:option value="04">04</form:option>-->
                <!--<form:option value="05">05</form:option>-->
                <!--<form:option value="06">06</form:option>-->
                <!--<form:option value="07">07</form:option>-->
                <!--<form:option value="08">08</form:option>-->
                <!--<form:option value="09">09</form:option>-->
                <!--<form:option value="10">10</form:option>-->
                <!--<form:option value="11">11</form:option>-->
                <!--<form:option value="12">12</form:option>-->
            <!--</form:select>-->

            <!--<form:select path="year" class="io-inputstyle" id="io-input-yil" name="year" >-->
                <!--<form:option value="17">2017</form:option>-->
                <!--<form:option value="18">2018</form:option>-->
                <!--<form:option value="19">2019</form:option>-->
                <!--<form:option value="20">2020</form:option>-->
                <!--<form:option value="21">2021</form:option>-->
            <!--</form:select>-->
        <!--</div>-->
        <!--<div id="io-formcont-guvenlik">-->
            <!--<label><spring:message code='payment.security.code'/></label>-->
            <!--<table width="130" cellpadding="0" cellspacing="0" border="0">-->
                <!--<tr>-->
                    <!--<td>-->
                        <!--<form:input id="io-input-guvenlik" path="cvv" type="text" class="io-inputstyle" name="cvv"/>-->
                    <!--</td>-->
                    <!--<td align="right" valign="bottom">-->
                        <!--<img src="<c:url value="/resources/images/payment/img-cardback.png"/>">-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</table>-->
        <!--</div>-->
        <!--<div class="io-clearbox"></div>-->
        <!--<div class="io-infocont"><p class="io-p-info001"><spring:message code='order.total'/> : <span>${calculatedAmount} TL</span></p></div>-->
        <!--<div class="io-infocont"><p class="io-p-info001"></p></div>-->
        <!--<div class="io-infocont io-alignright io-mobilecenter"><input type="submit" value="<spring:message code='payment.submit'/>" class="io-submitstyle"></div>-->


    <!--</form:form>-->

    <div class="io-clearbox"></div>
    <div class="io-seperator">
        <div class="io-seperator-line"></div>
        <div class="io-seperator-text"><span></span></div>
    </div>
    <div class="io-sortpay">


    </div>
    <div class="io-sortpay">
        <img th:src="@{/images/payment/visa.png}"/>
        <img th:src="@{/images/payment/mastercard.png}"/>
        <img th:src="@{/images/payment/americanex.png}"/>
        <img th:src="@{/images/payment/unionpay.png}"/>
        <img th:src="@{/images/payment/unionpay.png}"/>
        <img th:src="@{/images/payment/maestro.png}"/>
    </div>
</div>

</body>
</html>