<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<!-- HEADER -->
<head th:lang="${lang}">
    <title th:text="#{label.Our_products}"></title>
    <!--/*/ <th:block th:include="include/headerinc :: head"></th:block> /*/-->
</head>
<!-- /HEADER -->
<!-- MAIN SECTION -->
<body>
    <!--/*/ <th:block th:include="include/header :: header"></th:block> /*/-->
</body>
<!-- /MAIN SECTION -->
<!-- FOOTER -->
<!-- FOOTER -->
<footer>

</footer>
<!-- /FOOTER -->
</html>