<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<!-- HEADER -->
<head th:lang="${lang}">
    <title th:text="#{label.title.ProductForm}"></title>
    <!--/*/ <th:block th:include="include/headerinc :: head"></th:block> /*/-->
    <link href="../../static/css/image-upload.css"
          th:href="@{/css/image-upload.css}" rel="stylesheet" media="screen"/>
</head>
<!-- /HEADER -->
<!-- MAIN SECTION -->
<body>
<div class="container">
    <!--/*/ <th:block th:include="include/header :: header"></th:block> /*/-->

    <div style="clear: both" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Category:</label>
            <div class="col-sm-10">
                <select class="form-control" id="productType" name="productType">
                    <option selected disabled>Select...</option>
                    <option th:each="type : ${productType}"
                            th:value="${type}"
                            th:text="${type}"
                            th:selected="${type.equals(productType)}"></option>
                </select>
            </div>
        </div>
    </div>

    <div style='display:none;' id='cakeType'>
        <form class="form-horizontal" th:object="${product}" th:action="@{/productCake}" method="post"
              enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}"/>

            <div class="form-group">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{name}"/>
                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                           class="validation-message"></label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{description}"/>
                    <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                           class="validation-message"></label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Price:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{price}"/>
                    <label th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                           class="validation-message"></label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Weight:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:name="weight" th:value="${weight}"/>
                </div>
            </div>

            <div th:include="include/imageUploader :: copy"></div>

            <div class="row">
                <input id="stringURL1" type="hidden" th:name="stringURL"/>
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>

    <div style='display:none;' id='candiesType'>
        <form class="form-horizontal" th:object="${product}" th:action="@{/productCandies}" method="post"
              enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}"/>

            <div class="form-group">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{name}"/>
                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                           class="validation-message"></label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{description}"/>
                    <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                           class="validation-message"></label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Price:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{price}"/>
                    <label th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                           class="validation-message"></label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Count:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:name="count" th:value="${count}"/>
                </div>
            </div>

            <div th:include="include/imageUploader :: copy2"></div>

            <div class="row">
                <input id="stringURL2" type="hidden" th:name="stringURL"/>
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>

</div>

<script>

    // Drop down list
    var checkPattern = function () {
        var type = $('#productType');
        if (type.val() === 'Cake') {
            $('#cakeType').show();
        } else if (type.val() === 'Candies') {
            $('#candiesType').show();
        } else {
            $('#cakeType').hide();
            $('#candiesType').hide();
        }
    };

    $(document).ready(function () {
        document.getElementById("stringURL1").value = window.location.href;
        document.getElementById("stringURL2").value = window.location.href;

        $("#productType").change(function () {
            $("#cakeType").css('display', (this.value === 'Cake') ? 'block' : 'none');
            $("#candiesType").css('display', (this.value === 'Candies') ? 'block' : 'none');
        });

        checkPattern();
    });

</script>

</body>
<!-- /MAIN SECTION -->

<!--Java FileUploadController-->

<!--<form method="POST" action="/upload" enctype="multipart/form-data">-->
<!--<input type="hidden" th:name="stringURL" th:value="@{product/new}"/>-->
<!--<input type="file" th:name="file"/><br/><br/>-->
<!--<img src="" id="prev" />-->
<!--<div th:if="${fileError}">-->
<!--<h2 th:text="${fileError}"/>-->
<!--</div>-->
<!--<input type="submit" value="Submit" />-->
<!--</form>-->

<!--<script>-->
<!--// Image preview-->
<!--var reader = new FileReader();-->
<!--reader.onload = function(r_event) {-->
<!--document.getElementById('prev').setAttribute('src', r_event.target.result);-->
<!--}-->

<!--document.getElementsByName('file')[0].addEventListener('change', function(event) {-->
<!--reader.readAsDataURL(this.files[0]);-->
<!--});-->
<!--</script>-->

<!--/Java FileUploadController-->
</html>