<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<!-- HEADER -->
<head th:lang="${lang}">
    <title>Shopping Cart</title>
    <!--/*/ <th:block th:include="include/headerinc :: head"></th:block> /*/-->
</head>
<!-- /HEADER -->
<!-- MAIN SECTION -->
<body>
<div class="container">

    <!--/*/ <th:block th:include="include/header :: header"></th:block> /*/-->

    <h2>Hello Flow :)</h2>

    <form id="proceed" action="#" th:action="${flowExecutionUrl}" method="post">

        <input type="hidden" name="_eventId" value="activate" />
        <input type="submit" value="Proceed" />

    </form>

    <form action="#" th:action="${flowExecutionUrl}" method="post">

        <input type="hidden" name="_eventId" value="cancel" />
        <input type="submit" value="Cancel" />

    </form>

    <table class="table table-striped">
        <tr>
            <th>Order Id</th>
            <th>Order Date</th>
            <th>User Id</th>
            <th>Price</th>
            <th>Status</th>
        </tr>

        <tr th:each="order : ${orders}">
            <td th:text="${order.orderId}">Order Id</td>
            <td th:text="${order.orderDate}">Order Date</td>
            <td th:text="${order.userId}">User Id</td>
            <td th:text="${order.price}">Price</td>
            <td th:text="${order.open}">Status</td>
        </tr>
    </table>


    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                <div class="input-group-addon">.00</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Transfer cash</button>
    </form>

</div>

</body>
<!-- /MAIN SECTION -->
</html>