<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" media="screen"
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
</head>
<body>

<section>
    <div class="jumbotron">
        <div class="container">
            <h1>Cake</h1>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <dl th:each="prices : ${calculatedPrices}">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="thumbnail">
                            <div class="caption">

                                <h4>
                                    <span class="label label-info">${products[(prices.key).intValue()].name}</span>
                                </h4>

                                <p>
                                    <span>${products[(prices.key).intValue()].id}</span>
                                </p>
                                <p>
                                    <span>${products[(prices.key).intValue()].description}</span>
                                </p>

                                <p>
                                    <strong>
                                        <span class="label label-info">${products[(prices.key).intValue()].price}</span>
                                    </strong>
                                </p>

                                <h4>
                                    <span class="label label-info">${prices.value}</span>
                                </h4>

                                <a href="/menu/product.detail?productId=${products[(prices.key).intValue()].id}"
                                   class="btn btn-default btn-md">
                                    <span class="glyphicon-info-sign glyphicon"></span>
                                </a>

                                <a href="/menu/order.delete.from.cart?productId=${products[(prices.key).intValue()].id} "
                                   class="btn btn-danger btn-md">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </dl>

        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="thumbnail">
                        <div class="caption">

                            <h4>
                                <span class="label label-info">${totalAll}</span>
                            </h4>

                            <!--<h4>-->
                                <!--<p th:case="${reducedPrice ne totalAll}"><span-->
                                        <!--class="label label-info">${reducedPrice}</span></p>-->
                            <!--</h4>-->


                            <!--<p th:case="${totalAll !=0 }">-->
                            <!--<form action="/order.payment" method="POST">-->
                                <!--<input type="submit" value="<spring:message code='product.confirm'/> "-->
                                       <!--class="btn btn-success">-->
                                <!--<input type="hidden" value="${reducedPrice}">-->
                            <!--</form>-->
                            <!--</p>-->

                            <a href="/menu/all" class="btn btn-default btn-md">
                                <span class="glyphicon-hand-left glyphicon"></span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
