<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <title>Title</title>

<link href="../../static/css/style.css"
      th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div id="io-page-wrapper">
    <div id="io-cont-lock"><img th:src="@{/images/payment/lock-blue.png}"/></div>
    <div id="io-cont-logovisa"><img th:src="@{/images/payment/logo-visa.png}"/></div>
    <div id="io-cont-logomastercard"><img th:src="@{/images/payment/logo-mastercard.png}"/></div>
    <div id="io-cont-logoaexpress"><img th:src="@{/images/payment/logo-aexpress.png}"/></div>
    <div class="io-clearbox"></div>
    <p class="io-p-header001">Java Coffee Shop</p>

    <!--<form action="/order.payment.confirm" method="post" name="logoform">-->


        <!--<div id="io-formcont-kartno">-->

        <!--</div>-->
        <!--<div id="io-formcont-tarih">-->

        <!--</div>-->
        <!--<div id="io-formcont-guvenlik">-->

        <!--</div>-->
        <!--<div class="io-clearbox"></div>-->
        <!--<div class="io-infocont"><p class="io-p-info001"></div>-->
        <!--<div class="io-infocont"><p class="io-p-info001"><spring:message code='payment.result'/> : <span> <spring:message code='payment.succeed'/></span></p></div>-->
        <!--<div class="io-infocont"><p class="io-p-info001"></div>-->

        <!--<br/>-->
        <!--<br/>-->
        <!--<br/>-->


    <!--</form>-->

    <div class="io-sortpay">
        <img th:src="@{/images/payment/visa.png}"/>
        <img th:src="@{/images/payment/mastercard.png}"/>
        <img th:src="@{/images/payment/americanex.png}"/>
        <img th:src="@{/images/payment/unionpay.png}"/>
        <img th:src="@{/images/payment/unionpay.png}"/>
        <img th:src="@{/images/payment/maestro.png}"/>
    </div>
</div><!-- io-page-wrapper -->

</body>
</html>