<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <title>Title</title>

    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
</head>
<body>

<section>
    <div class="jumbotron">
        <div class="container">
            <h1>Product shop name</h1>
        </div>
    </div>
</section>

<!--<spring:url value="/menu/product.add.to.cart" var="addToCartURL" htmlEscape="true"/>-->
<!--<spring:url value="/menu/all" var="menuAllURL" htmlEscape="true"/>-->
<!--<spring:url value="/menu/product.delete.all.cart" var="productDeleteAllCartURL" htmlEscape="true"/>-->
<!--<spring:url value="/menu/product.delete.from.cart" var="productDeleteFromCartURL" htmlEscape="true"/>-->
<!--<spring:url value="/menu/product.delete.condiment" var="productDeleteCondiment" htmlEscape="true"/>-->
<!--<spring:url value="/menu/product.add.condiment" var="productAddCondiment" htmlEscape="true"/>-->
<!--<spring:url value="/menu/product.shopping.cart" var="productGoToShoppingCart" htmlEscape="true"/>-->


<!--<c:set var="shoppingCartByProductId" scope="session" value="${shoppingCart[(product.id).intValue()]}"/>-->
<!--<c:set var="allCondimentsByProductId" scope="session" value="${allCondiments[(product.id).intValue()]}"/>-->

<section class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="col-md-12">
                <h4>
                    Product name :
                    <span class="label label-info">${product.name}</span>
                </h4>
                <p>
                    Product id :
                    <span>${product.id}</span>
                </p>
                <p>
                    Product description :
                    <span>${product.description}</span>
                </p>
                <p>
                    Product price :
                    <strong><span class="label label-info">${product.price}</span></strong>
                </p>
                <p>
                    <a th:href="@{/menu/product.add.to.cart}" class="btn btn-default btn-md">
                        <span class="glyphicon-shopping-cart glyphicon"></span>
                        Product add to cart
                    </a>
                    <a th:href="@{/menu/all}"
                       class="btn btn-default btn-sm">
                        <span class="glyphicon-hand-left glyphicon"></span>
                        Product menu back
                    </a>
                    <a th:href="@{/menu/product.delete.all.cart}"
                       class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove"></span>
                        Product remove all
                    </a>
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="col-md-12">
                <a th:href="@{/menu/product.shopping.cart}" class="btn btn-success btn-sm">
                    <span class="glyphicon-shopping-cart glyphicon"></span>
                    Product go to cart
                </a>
            </div>
        </div>

    </div>

    <!--<%---->
    <!--shoppingCartByProductId  TreeMap<Integer, Product>-->
    <!--orderIndexProduct Product-->
    <!----%>-->
    <dl th:each="orderIndexProduct : ${shoppingCart[(product.id).intValue()}">
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-12">
                    <div class="thumbnail">
                        <div class="caption">
                            <p>
                                Product name :
                                <span>${product.name}</span>
                            </p>
                            <p>
                                Product price :
                                <span class="label label-info">${orderIndexProduct.value.price}</span>
                            </p>
                            <a th:href="@{/menu/product.delete.from.cart(indexId=${orderIndexProduct.key})}"
                               class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove"></span> Product remove from cart
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="col-md-12">
                    <div class="thumbnail">
                        <div class="caption">

                            <dl th:each="current : ${orderIndexProduct.value.condimentsInProduct}">

                                <a>
                                    ${current.key.name}
                                    ${current.key.price}
                                    X ${current.value}
                                    <a th:href="@{/menu/product.delete.condiment(indexId=${orderIndexProduct.key}&&condimentId=${current.key.id})}"
                                       id="deleteCondiment"
                                       class="btn btn-danger btn-xs">
                                        <span class="glyphicon glyphicon-remove"></span> Product remove from cart
                                    </a>
                                </a>

                            </dl>

                            <div class="form-group">
                                <select class="form-control" id="condiment${orderIndexProduct.key}"
                                        id="condiment${orderIndexProduct.key}">
                                    <dl th:each="element : ${allCondimentsInShop}">
                                        <option value="${element.value.id}" name="${element.value.name}">
                                            ${element.value.name} ,
                                            ${element.value.price}
                                        </option>
                                    </dl>
                                </select>
                            </div>
                            <a th:href="@/menu/product.add.condiment(indexId=${orderIndexProduct.key})}"
                               onclick="addCondimentFunction(this)" id="addCondiment${orderIndexProduct.key}"
                               name="${orderIndexProduct.key}"
                               class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-plus"></span>
                                Product add condiment
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dl>
</section>

<script type="text/javascript">
    function addCondimentFunction(obj) {

        var link = obj.id;
        var value = obj.name;
        var e = document.getElementById('condiment' + value);
        var selected = e.options[e.selectedIndex].value;

        obj.href = obj.href + "&condimentId=" + selected;
    }

</script>

</body>
</html>